# .NET build klasörleri
**/bin/
**/obj/

# Rider / Visual Studio ayarları
.idea/
.vs/

# Development config
**/appsettings.Development.json

# Node / Frontend
**/node_modules/
**/dist/
**/.angular/
**/.next/

# Environment dosyaları
**/.env
**/.env.*

# Sistem dosyaları
.DS_Store